//import your stylesheets below

@import "bootstrap";
@import "font-awesome";

//import your stylesheets below

@import "common";

@media screen and (max-width: 600px) {
  #usagediagram {
    display: none;
  }
}

.inline {
	display: inline;
}

#usagediagram {
	width: 100%;
	margin-top: 2em;
}

.green-faded {
	background-image: linear-gradient(#28A745, #93D3A2);
}

.blue-faded {
	background-image: linear-gradient(#007BFF, #7FBDFF);
}

.red-faded {
	background-image: linear-gradient(#DC3545, #ED9AA2);
}

.card-link {
	color: white !important;
	text-decoration-color: white !important;
}

.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.nav-item {
	margin-left: 10px;
	margin-right: 10px;
}

.card {
	margin-top: 1em;
	margin-bottom: 1em;
}

.btn-floatr {
	float: right;
	margin: 1em;
	margin-right: 0px;
}

#types {
	margin-top: 50px;
}

#rules {
	border-collapse: collapse;
	width: 100%;
}

#rules td, #rules th {
	border: 1px solid #ddd;
	padding: 8px;
}

#rules tr:nth-child(even){background-color: #f2f2f2;}

#rules tr:hover {background-color: #ddd;}

#rules th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

#rulesRange {
	border-collapse: collapse;
	width: 100%;
}

#rulesRange td, #rulesRange th {
	border: 1px solid #ddd;
	padding: 8px;
}

#rulesRange tr:nth-child(even){background-color: #f2f2f2;}

#rulesRange tr:hover {background-color: #ddd;}

#rulesRange th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}


#rulesTuple {
	border-collapse: collapse;
	width: 100%;
}

#rulesTuple td, #rulesTuple th {
	border: 1px solid #ddd;
	padding: 8px;
}

#rulesTuple tr:nth-child(even){background-color: #f2f2f2;}

#rulesTuple tr:hover {background-color: #ddd;}

#rulesTuple th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}


#rulesInter {
	border-collapse: collapse;
	width: 100%;
}

#rulesInter td, #rulesInter th {
	border: 1px solid #ddd;
	padding: 8px;
}

#rulesInter tr:nth-child(even){background-color: #f2f2f2;}

#rulesInter tr:hover {background-color: #ddd;}

#rulesInter th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

#PUTformCompare{
	width: 400px;
	height: auto;
	display:none;
}

#PUTformRange{
	width: 400px;
	height: auto;
	display:none;
}

#PUTformTuple{
	width: 400px;;
	height: auto;
	display:none;
}

#PUTformInter{
	width: 400px;
	height: auto;
	display:none;
}

// body{

//     margin: 0;
//     padding: 0px;
//     font-family: 'Roboto', sans-serif;
// }

// h1,h2,h3,h4,h5,h6,p{
//     padding: 0px;
//     margin: 0px;
// }

// a{
//     text-decoration: none;
// }

// section{
//     margin-top: 50px;
//     width: 100%;
//     height: auto;

// }

// section .container{
//     padding: 0px 50px;
// }

// #rule_toevoegen{
//     margin: 80px auto;
//     width: 700px;
//     height: 500px;

// }

// #selecteer_rule{
//     width: 500px;
//     height: 50px;
//     margin: 80px auto;

// }

// #select{
//     margin-top: 30px;
//     float: right;
// }

// #ok,#ok_tcompare,#ok_etcompare{
//     float: right;
//     margin-right: 90px;
// }

// #ok_compare{
//     float: right;
//     margin-right: 66px;
// }

// #types{
//     width: 700px;
//     height: 300px;
// }

// .col-25 {
//     float: left;
//     width: 20%;
//     margin-top: 15px;
// }

// .col-75 {
//     float: right;
//     width: 50%;
//     margin-top: 6px;
// }

// .row{
//     margin:0 auto;
//     width: 500px;

// }

// .row:after {
//     content: "";
//     display: table;
//     clear: both;
// }

// .options{
//     width: 50px;
//     float: right;
// }

// input[type=text],select{
//     width: 100%;
//     padding: 10px;
//     margin-bottom: 20px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     box-sizing: border-box;
//     resize: vertical;
// }

// input[type=number]{
//     width: 100%;
//     padding: 10px;
//     margin-bottom: 20px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     box-sizing: border-box;
//     resize: vertical;
// }